.customer {
  padding: 18px;
  margin-left: 20px;
  margin-right: 20px;
  
  
  background-color: rgb(18, 30, 46);
  font-family: Arial;
  border-radius: 20px;
  color: rgb(31, 103, 229);
}

.customer .MuiBox-root {
  margin-bottom: 16px;
}

.customer .MuiTypography-root {
  display: flex;
  align-items: center;
}

.customer .MuiButton-root {
  color: black;
  background-color: lightblue;
  padding: 8px 16px;
}



.customer .MuiTableContainer-root {
  margin-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  color: white;
  

}

.search-box .MuiTextField-root {
  flex: 1;
  border: white;
  padding: 0 8px;
  
}

.search-box .MuiTextField-root .MuiInputBase-input {
  border-radius: 4px 0 0 4px;
  background-color: rgb(225, 245, 254);
}

.search-box .MuiButton-root {
  color: white;
  background: lightblue;
  height: 100%;
  border-radius: 0 4px 4px 0;
  min-width: 80px;
  
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
