.latest-invoices, .top-customers {
  padding: 20px;
}

.latest-invoices h4, .top-customers h4 {
  font-size: 1.5rem;
  
}

.MuiTableContainer-root {
  background-color: #E3F2FD;
  margin-top: 1rem;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MuiTable-root {
  min-width: 650px;
}

.MuiTableCell-root {
  font-size: 2rem;
  padding: 16px;
}

.MuiTableHead-root .MuiTableCell-root {
  border: 1px solid black;
  background-color: #c0d7fa;
}

.MuiTableBody-root .MuiTableRow-root:nth-of-type(odd) {
  border: 1px solid black;
  background-color: #c0d7fa;
}

.MuiTableBody-root .MuiTableRow-root:nth-of-type(even) {
  border: 1px solid black;
  background-color: #c0d7fa;
}

.MuiTableBody-root .MuiTableCell-root {
  border: 1px solid black;
  background-color: #c0d7fa;
}

.latest-invoices{
  border: 1px solid black;
  background-color: #E1F5FE;
  margin: 20px;
}
.top-customers{
  border: 1px solid black;
  background-color: #E1F5FE;
  margin: 20px;
  padding: 20px;
}
