.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: lightgray;
  border-bottom: 1px solid black;
}

.header__logo {
  margin-right: 0px;
}

.header__logo img {
  width: 60px;
}

.header__title {
  text-align: center;
}

.header__title h1 {
  font-size: 30px;
  margin-bottom: 5px;
}


